nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(46, 46, 70);
  box-shadow: 0px 1px 3px black;
  font-family: "Lucida Console";
  color: white;
  width: 100%;
}

h1 {
  background-image: linear-gradient(
    to left,
    violet,
    blueviolet,
    aqua,
    lightgreen,
    yellow,
    orange,
    crimson
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

nav button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Lucida Console";
  font-size: 1.25rem;
  margin: 1rem 1.5rem;
}

nav button:hover {
  color: cornflowerblue;
}

nav button:focus {
  color: lightpink;
}
