.bar {
  display: inline-block;
  width: 4rem;
  margin: 1px 2px;
  box-shadow: 0 0 2px 1px black;
  transition: height 0.1s ease-in;
  border-top: 1px solid rgb(54, 54, 54);
}

@media (max-width: 1000px) {
  .bar {
    width: 3rem;
  }
}

@media (max-width: 500px) {
  .bar {
    width: 2rem;
  }
}

@media (max-width: 300px) {
  .bar {
    width: 1rem;
  }
}
